<% provide(:title, 'Workphase List') %>

<div class="page-header">
  <h1>Workphase List</h1>
  <div class="btn-toolbar" role="toolbar">
    
    <div class="btn-group pull-right" role="group" aria-label="Add New Workphase">
      <%= link_to new_workphase_path, class: 'btn btn-custom' do %>
        <span class="glyphicon glyphicon-plus"></span>
        New Workphase
      <% end %>
    </div>
 
    <div class="btn-group pull-right" role="group" aria-label="Reset Search">
      <button class="btn btn-default" type="button">
        <%= link_to 'Reset Search', workphases_path %>
      </button>
    </div>
    
    <div class="btn-group" role="group" aria-label="Input Search">
      <div class="col-md-3">
      <%= form_tag(workphases_path, :method => "get", :class => "input-group") do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Product Id" %>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit button">
               <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
      <% end %>
      </div>
    </div>
  
  </div>
  
 
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Product: Id</th>
          <th scope="col">Phase</th>
          <th scope="col">Total req</th>
          <th scope="col">Total complete</th>
          <th scope="col">Date created</th>
          <th scope="col">Date completed</th>
          <th scope="col">Completed by</th>
          <th scope="col">Admin Note</th>
          <th scope="col">Comment</th>
          <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% workphases = Workphase.includes(:product, :phase).all %>
      
      <%= content_tag_for(:tr, @workphases) do |workphase| %>
        <td scope="row"><%= workphase.id %></td>
        <td><%= workphase.product.productname if workphase.product %>: <%= workphase.product_id %></td>
        <td><%= workphase.phase.try(:phasename) %> <%#= workphase.phase_id %></td>
        <!-- above are 2 different ways of managing error 'undefined method.. nil:NilClass' -->
        <td><%= workphase.totalToMake %></td>
        <td><%= workphase.totalMade %></td>
        <td><%= workphase.dateChanged.strftime("%d-%m-%Y") %></td>
        <td><%= workphase.dateComplete %></td>
        <td><%= workphase.employee_id %> <%#= workphase.employee_id.lastname %></td>
        <td><%= workphase.adminNote %></td>
        <td><%= workphase.worknote %></td>
        <td><%= link_to 'Show',     workphase %></td>
        <td><%= link_to 'Edit',     edit_workphase_path(workphase) %></td>
        <td><%= link_to 'Destroy',  workphase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<h4>Export Workphases Data</h4>
 <%= link_to workphases_path(format: "csv"), class: 'btn btn-custom' do %>
   <span class="glyphicon glyphicon-download-alt" ></span>
     Download CSV file
 <% end %>
 <br><br>
