<% provide(:title, 'Workphase List') %>

<div class="page-header">
  <%= link_to new_workphase_path, class: 'btn btn-custom' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Workphase
  <% end %>
  <h1>Workphase List</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Product</th>
          <th scope="col">Phase</th>
          <th scope="col">Total req</th>
          <th scope="col">Total complete</th>
          <th scope="col">Date created</th>
          <th scope="col">Date completed</th>
          <th scope="col">Completed by</th>
          <th scope="col">Admin Note</th>
          <th scope="col">Comment</th>
          <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @workphases) do |workphase| %>
        <td scope="row"><%= workphase.id %></td>
        <td><%#= workphase.product.productname %>: <%#= workphase.product_id %></td>
        <td><%#= workphase.phase.phasename %>: <%#= workphase.phase_id %></td>
        <td><%= workphase.totalToMake %></td>
        <td><%= workphase.totalMade %></td>
        <td><%= workphase.dateChanged.strftime("%d-%m-%Y") %></td>
        <td><%= workphase.dateComplete %></td>
        <td><%= workphase.employee_id %> <%#= workphase.employee.lastname %></td>
        <td><%= workphase.adminNote %></td>
        <td><%= workphase.worknote %></td>
        <td><%= link_to 'Show',     workphase %></td>
        <td><%= link_to 'Edit',     edit_workphase_path(workphase) %></td>
        <td><%= link_to 'Destroy',  workphase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<h4>Export Workphases Data</h4>
 <%= link_to workphases_path(format: "csv"), class: 'btn btn-custom' do %>
   <span class="glyphicon glyphicon-download-alt" ></span>
     Download CSV file
 <% end %>
 <br><br>
