<% provide(:title, 'Show Workphase') %>
<div class="page-header">
  <%= link_to workphases_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_workphase_path(@workphase), class: 'btn btn-custom' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show workphase</h1>
</div>

<dl class="dl-horizontal">
  <dt>Product name: Id</dt>
  <dd><%= @workphase.product.productname %>: <%= @workphase.product_id %></dd>
  
  <dt>Phase name: Id</dt>
  <dd><%= @workphase.phase.phasename %>: <%= @workphase.phase_id %></dd>

  <dt>Total required:</dt>
  <dd><%= @workphase.totalToMake %></dd>

  <dt>Date Last Changed:</dt>
  <dd><%= @workphase.dateChanged.strftime("%d-%m-%Y") %></dd>
<!--  
  <dt>Work completed by Employee: Id</dt>
  <dd><%#= @workphase.employee.firstname %> <%#= @workphase.employee.lastname %>: <%#= @workphase.employee_id %> </dd>
--> 
  <dt>Admin Note:</dt>
  <dd><%= @workphase.adminNote %></dd>
</dl>
