<% provide(:title, 'Employee Index') %>

<div class="page-header">
  <%#= link_to new_employee_path, class: 'btn btn-custom' do %>
  <!--
    <span class="glyphicon glyphicon-plus"></span>
    New Employee
    -->
  <%# end %>
  <h1>Employee Index</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
            <th></th>
            <th>Role</th>
            <th>Status</th>
            <th>Admin</th>
            <th>Id</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @employees) do |employee| %>
            <td><%= employee.fullname %></td>
            <td><%= employee.add1 %></td>
            <td><%= employee.add2 %></td>
            <td><%= employee.add3 %></td>
            <td><%= employee.role %></td>
            <td><%= employee.status %></td>
            <td><%= employee.admin %></td>
            <td><%= employee.id %></td>
            <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy #hide', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<h4>Export Employees Data</h4>
 <%= link_to "Download CSV", employees_path(format: "csv"), class: 'btn btn-custom' %><br><br>

