<% provide(:title, 'Show') %>

<div class="page-header">
  <%= link_to employees_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_employee_path(@employee), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show employee</h1>
</div>

<dl class="dl-horizontal">
  <dt>Firstname:</dt>
  <dd><%= @employee.firstname %></dd>

  <dt>Lastname:</dt>
  <dd><%= @employee.lastname %></dd>

  <dt>Add1:</dt>
  <dd><%= @employee.add1 %></dd>

  <dt>Add2:</dt>
  <dd><%= @employee.add2 %></dd>

  <dt>Add3:</dt>
  <dd><%= @employee.add3 %></dd>

  <dt>Role:</dt>
  <dd><%= @employee.role %></dd>

  <dt>Status:</dt>
  <dd><%= @employee.status %></dd>

  <dt>Admin:</dt>
  <dd><%= @employee.admin %></dd>

  <dt>User:</dt>
  <dd><%= @employee.user %></dd>

</dl>
